$color-primary: #44afbe;
$color-secondary: #2c3374;
$color-gray: #C9E4EA;

$color-primary-hover: #138496;

$color-bg-menu-left: #006e80;


$color-orange: #e7843f;
$color-orange-1: #F2994A;
$color-red: #e73a0a;

$mau-chua-phan-xu-ly: #5252d4;
$mau-chua-thuc-hien: #8b4db4;
$mau-dang-thuc-hien: #59c6fa;
$mau-thu-hoi: #9b7938;
$mau-tra-lai: #e5f52f;
$mau-da-hoan-thanh: #42b432;
$mau-qua-han: #d9001b;
$mau-den-han: #f59a23;
$mau-trong-han: #000000;
$mau-phoi-hop: #b16a6a;
$mau-chu-tri: #00ffca;


$color-border-gray: #e9ecef;

$color-white: #fff !default;
$color-gray-100: #f3f3f3 !default;
$color-gray-200: #8e8e8e !default;
$color-gray-300: #888888 !default;
$color-gray-400: #7b7b7b !default;
$color-gray-500: #4b4b4b !default;
$color-gray-600: #2b2b2b !default;
$color-black: #000 !default;