@media (max-width: 991px) {
  #main-wrapper {
    left: 0 !important;
  }
  #left-menu.tab-menu-show {
    visibility: visible;
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
  }

  #left-menu {
    visibility: hidden;
    left: -100%;
    opacity: 0;
    transition: all 0.3s ease;

    .menus {
      .header-account {
        display: block;
        position: absolute;
        bottom: 1px;
        width: 100%;
        top: inherit;

        button {
          width: 100%;
          background-color: #006e80 !important;
          color: #ffffff !important;
          text-align: left;
        }

        ul {
          li {
            &:hover {
              background-color: #EFEFEF;
            }
            a {
              color: #000000;
            }
          }
        }
      }
    }
  }

  .header {
    .nav-toggle {
      display: block;
    }

    .notification {
      margin-right: 50px;
    }
  }

  .header-account {
    display: none;
  }
}

@media (max-width: 520px) and (min-width: 404px) {
  .file-preview {
    .help-text {
      font-size: 12px !important;
    }
  }
  .logo-text {
    .header-title {
      font-weight: 600 !important;
      font-size: 15px !important;
      word-break: break-word;
      padding-top: 6px;
      line-height: 1;
    }
  }
  .nav-toggle {
    margin-top: 0 !important;
    width: 20px !important;
    height: 20px !important;
    svg {
      height: 20px;
    }
  }
}

@media (max-width: 403px) and (min-width: 321px) {
  .file-preview {
    .help-text {
      font-size: 12px !important;
    }
  }
  .logo-text {
    .header-title {
      font-weight: 600 !important;
      font-size: 12px !important;
      word-break: break-word;
      line-height: 1;
      padding-top: 8px;
    }

    .header-sologan {
      font-size: 11px !important;
      padding-top: 2px;
    }
  }
  .nav-toggle {
    margin-top: 0 !important;
    width: 20px !important;
    height: 20px !important;
    svg {
      height: 20px;
    }
  }
}

@media (max-width: 320px) {
  .file-preview {
    .help-text {
      font-size: 10px !important;
    }
  }
  .logo-text {
    .header-title {
      font-weight: 600 !important;
      font-size: 12px !important;
      word-break: break-word;
      line-height: 1;
      padding-top: 3px;
    }

    .header-sologan {
      font-size: 11px !important;
      padding-top: 2px;
    }
  }
  .nav-toggle {
    margin-top: 0 !important;
    width: 20px !important;
    height: 20px !important;
    svg {
      height: 20px;
    }
  }
}
